.project-card-image {
    background-color: #1A1A1A;
    border-radius: 15px;
    margin-right: 4rem;
}

.project-card-image img {
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 4rem;

    border-radius: 15px;

}

.app__project-info {
    width: 100%;
}

.project-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0rem;

    color: #fff;

    font-family: "manrope";
}

.project__link {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}



@media screen and (max-width : 1150px) {
    .project-card-image {
        margin-right: 0;
        margin-bottom: 3rem;
    }

}


@media screen and (max-width : 850px) {
    .project-card-image {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    
}

@media screen and (max-width : 450px) {
    .project-card-image {
        margin-right: 0;
        margin-bottom: 0.6rem;
    }
}