.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#skills {
    padding-top: 3rem;
}

.skills__divider {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

@media screen and (max-width : 850px) {
    #skills {
        padding-top: 3rem;
    }

    .skills__divider {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

}