.contact__divider {
    margin-top: 6rem;
    margin-bottom: 5rem;
}

.contact__form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.app__input_field {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.app__input_field input {
    background-color: #1A1A1A;
    border: none;
    border-radius: 5px;

    padding: 16px 12px;

    color: #fff;
}

.app__input_field input:focus {
    outline: 1px solid #484848;
}

.app__input_field textarea {
    background-color: #1A1A1A;
    border: none;
    border-radius: 5px;

    padding: 16px 12px;
    height: 156px;

    color: #fff;
}

.app__input_field textarea:focus {
    outline: 1px solid #484848;
}

.contact__btn {
    align-self: flex-start;
}


@media screen and (max-width : 850px){
    .contact__divider {
    margin-top: 4rem;
    margin-bottom: 3rem;
}
}