.app__navbar {
    height: 96px;
    width: 100%;

    position: sticky;
    padding: 0 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__navbar_head {
    font-size: 32px;
    color: var(--color-alt);

    letter-spacing: -1px;
}


.app__about_navbar_links {
    font-family: var(--font-link);
    color: var(--color-alt);

    display: flex;
    gap: 1rem;
}

.app__navbar_icon {
    display: none;
    color: #fff;
}


.navbar__button {
    border: none;
    background: transparent;

    height: 30px;
    width: 30px;

    color: #fff;
}

.app__navbar_overley {
    position: absolute;
    top: -100vh;
    left: 0;
    z-index: 5;

    padding: 2rem;
    height: 100vh;
    width: 100%;
    background-color: rgb(40, 39, 40);
    transition: top 0.6s ease;
}

.app__clear {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 5%;
}

.app__navbar_overley_links{
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}


.app__navbar_overley.slide-down {
    top: 0;
}

@media screen and (max-width : 850px) {
    .app__navbar_links {
        display: none;
    }

    .app__navbar_icon {
        display: block;
    }

    .app__navbar {
        height: 76px;
        padding: 0 2rem;
    }

    
}


@media screen and (max-width : 500px) {
    .app__navbar {
        padding: 0 1.5rem;
    }
}