.app__skill {
    font-family: var(--font-alt);
    font-size: 16px;
    font-weight: bold;

    color: var(--color-alt);

    border: 1px solid #484848;
    padding: 1rem 2rem;
    border-radius: 100px;
}