.image {
    background-image: url("../../assets/bg.png");
    background-repeat: repeat;
    background-position: center;

    border-radius: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.image img {
    margin-top: 1.5rem;
}

@media screen and (max-width : 850px) {
    .image img {
        width: 80%;
    }

}